* {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 200;
}

h2 {
  padding-bottom: 17px;
  margin-bottom: -10px;
  font-size: 60px;
  color: white;
  background-color: rgb(55, 74, 114);
}

i {
  margin-top: 10px;
  margin-left: 10px;
}

.card {
  font-style: italic;
  border: 2px solid black;
}

img {
  margin-top: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
